NEXT_PUBLIC_SUPABASE_URL=vkvpbbukxnfgmhovnati
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_1pIfYEHjYio0zVMHSz2gVQ_0guFm42I
DITZNESIA_API_URL=https://www.ditznesia.com/api/dev
DITZNESIA_API_KEY=ab56af1c5c2f04c79e7750665611d4c4
ADMIN_EMAIL=xyzzditzz@gmail.com
